$primary-white: #fff;
$primary-black: #121212;
$primary-light-gray: #dedede;
$primary-dark-gray: #575757;
$accent-gold: #ab8956;
$accent-red: #9b4b4b;
$secondary-white: #fcfcfc;
$secondary-gray: #9c9c9c;
$secondary-black: #1a1818;

$font-family: "Inter", sans-serif;
$second-family: "Cormorant SC", sans-serif;
$third-family: "Urbanist", sans-serif;
